{extend name='extra@admin/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <button data-modal='{:url("$classuri/add")}' data-title="添加关键词" class='layui-btn layui-btn-small'><i
            class='fa fa-plus'></i> 添加关键词
    </button>
    <button data-update data-field='delete' data-action='{:url("$classuri/del")}'
            class='layui-btn layui-btn-small layui-btn-danger'><i class='fa fa-remove'></i> 删除关键词
    </button>
</div>
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get">

    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="username" value="{$Think.get.value|default=''}" placeholder="领导姓名" class="input-sm form-control">
            </div>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="phone" value="{$Think.get.leader_job|default=''}" placeholder="职务" class="input-sm form-control">
            </div>
        </div>

        <div class="col-xs-1">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white"><i class="fa fa-search"></i> 搜索</button>
            </div>
        </div>
    </div>
</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action"/>
    <table class="table table-hover" id="table-1">
        <thead>
        <tr>
            <th class='list-table-check-td'>
                <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
            </th>
            <th class='text-center'>领导编码</th>
            <th class='text-center'>领导姓名</th>
            <th class='text-center'>领导职务</th>
            <th class='text-center'>领导排序</th>
            <th class='text-center'>备注说明</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr id='{$vo.id}'>
            <td class='list-table-check-td'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'/>
            </td>
            <td class='text-center'>{$vo.med_code|default="<span style='color:#ccc'>还没有编码</span>"}</td>
            <td class='text-center'>{$vo.value|default="<span style='color:#ccc'>还没有关键字</span>"}</td>
            <td class='text-center'>{$vo.leader_job|default="<span style='color:#ccc'>还没有职务</span>"}</td>
            <td class='text-center'>{$vo.leader_level|default="<span style='color:#ccc'>还没有排序</span>"}</td>
            <td class='text-center'>{$vo.desc|default="<span style='color:#ccc'>备注说明</span>"}</td>

        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
</form>

<script type="text/javascript" charset="utf-8">
    require(['tablednd'], function () {


        $(document).ready(function() {
            // Initialise the table
            $("#table-1").tableDnD(
                    {

                        onDrop: function(tt, rr){
                            var tabletest = tt.rows;
                            var rowtest = rr.id;
                            var nnnRow = $('#table-1').tableDnDSerialize();
                            var newRow = $.tableDnD.serialize();
                            var b = $(tt.rows[1]).children().eq(1).text();

                            console.log('table:' + tabletest);
                            console.log('row:' + rowtest);
                            console.log('newRow:' + newRow);
                            console.log('nnnRow:' + nnnRow);
                            console.log('b:' + b);
                            var testId = isNaN($('#table-1').val());
                            console.log('testId:' + testId);
                        }

                    }
            );
            // Make a nice striped effect on the table
            //$("#table-1 tr:even").addClass("alt");
        })

    });

</script>


    {/block}